/* The navigation bar */
nav {
  overflow: hidden;
  background-color: rgb(196, 224, 143);
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: solid rgb(253, 28, 28) 1px;
}


/* Change the color of links on hover */
.nav a:hover {
  background-color: rgb(50, 146, 12);
  color: black;
  cursor: pointer;
}

/* Add an active class to highlight the current page */
.active {
  background-color:rgb(74, 66, 107);
}

/* Hide hamburger link that should open and close the nav on small screens */
.nav .icon {
  display: none;
  color:black
}