a{
  text-decoration: none;}

/* The navigation bar */
nav {
  overflow: hidden;
  background-color: rgb(229, 241, 206);
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: solid rgb(80, 77, 77) 1px;
  border-top: solid rgb(80, 77, 77) 1px;
}

.nav a{
  color: black;
  padding: 1%;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: rgb(100, 199, 60);
  color: black;
  cursor: pointer;
}

/* Hide hamburger link that should open and close the nav on small screens */
.nav .icon {
  display: none;
  color:black
}

/*Hero Image */

/* Container holding the image and the text */
.container {
  position: relative;
  width: 100%;
}

/* Bottom right text */
.text-block {
  position: absolute;
  top: 35%;
  left: 33%;
  background-color:  rgb(229, 241, 206);
  opacity: 0.8;
  color: black;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 25px;
}

/*down arrow icon */

.container i{
  position: absolute;
  bottom: 15px;
  left: 49%;
  color: black;
}

/*About Section */
.about h2{
  text-align: center;
}

/* Buttons used to open and close the accordion panel */
.accordion {
  background-color:  rgb(229, 241, 206);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  text-align: center;
}

/* Background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color:  rgb(100, 199, 60);
}

/* Accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.list{
  padding-left: 45%;
}

footer{
  background-color: #444;
  padding: 10px;
}

.content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1%;
}

footer span{
  color:white;
}

footer a{
  color: white;
  cursor: pointer;
}

footer a:hover{
  background: rgb(34, 33, 33);
  padding: 0.5%;
}

