/*BASIC STYLING */
body {
  background-color: rgb(199, 204, 198);
  margin: 0;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
  text-shadow: 1px 1px rgb(100, 199, 60);
}

/* NAVIGATION BAR */
nav {
  overflow: hidden;
  background-color: rgb(229, 241, 206);
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: solid rgb(80, 77, 77) 1px;
  border-top: solid rgb(80, 77, 77) 1px;
}

.nav a {
  color: black;
  padding: 1%;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: rgb(100, 199, 60);
  color: black;
  cursor: pointer;
  border: solid 1px gold;
}

/* Hide hamburger link that should open and close the nav on small screens */
.nav .icon {
  display: none;
  color: black;
}

/*Hero Image */

/* Container holding the image and the text */
.container {
  position: relative;
  width: 100%;
}

/* Bottom right text */
.text-block {
  position: absolute;
  top: 35%;
  left: 33%;
  background-color: rgb(229, 241, 206);
  opacity: 0.8;
  color: black;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 25px;
}

/*ABOUT SECTION */

/* Buttons used to open and close the accordion panel */
.accordion {
  background-color: rgb(229, 241, 206);
  color: black;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  text-align: left;
  border: none;
  outline: solid 1px black;
  transition: 0.4s;
  text-align: center;
  font-size: 18px;
}

/* Background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: rgb(100, 199, 60);
  border: solid 1px gold;
}

/* Accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.list {
  padding-left: 45%;
}

/*FOOTER */
footer {
  background-color: #444;
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1%;
}

footer span {
  color: white;
}

footer a {
  color: white;
  cursor: pointer;
}

footer a:hover {
  background: rgb(34, 33, 33);
  padding: 0.5%;
  border: solid 1px gold;
}

/* Responsive Layout for Break-Points */

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .nav {
    display: flex;
    flex-direction: column;
  }

  .nav a:not(:first-child) {
    display: none;
  }

  .nav .icon {
    float: right;
    display: block;
    padding-right: 5%;
  }

  /* The "responsive" class is added to the nav with JavaScript when the user clicks on the icon. This class makes the nav look good on small screens (display the links vertically instead of horizontally) */

  .nav.responsive {
    position: relative;
  }
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
